<nav class="navigation">
    <div class="navigation__links">
        <a routerLink="/characters" routerLinkActive="active">Characters</a>
        <a routerLink="/locations" routerLinkActive="active">Locations</a>
        <a routerLink="/episodes" routerLinkActive="active">Episodes</a>
    </div>
    <!-- <img src="" alt="logo"> -->
    <div class="navigation__search">
        <input type="text" placeholder="type here ..." #inputSearch>
        <button (click)="filterArrays(inputSearch.value)">search</button>
    </div>
</nav>