<nav class="navigation">
    <img routerLink="/" title="Ir a Inicio" class="navigation__logo" src="https://burbanostudio-assets.s3.us-east-2.amazonaws.com/projects/rick_and_morty/rick_and_morty_logo.png" alt="rick_and_morty">
    <div class="navigation__links">
        <a routerLink="/characters" routerLinkActive="active">Characters</a>
        <a routerLink="/locations" routerLinkActive="active">Locations</a>
        <a routerLink="/episodes" routerLinkActive="active">Episodes</a>
    </div>
    <!-- <img src="" alt="logo"> -->
    <div class="navigation__search">
        <input type="text" placeholder="type here ..." #inputSearch>
        <button (click)="filterArrays(inputSearch.value)">search</button>
    </div>
</nav>